*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background: whitesmoke;
  color: black;
}

header {
  background: black;
  color: white;
  padding: 20px;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 50px;
  width: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  background-color: darkslategrey;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: darkgrey;
}

section {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}

section h2 {
  color: black;
}

footer {
  text-align: center;
  padding: 20px;
  background: lightgray;
  font-size: 2;
  color: dimgray;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  gap: 30px;
  flex-wrap: wrap;
}

.section .text {
  flex: 1;
  min-width: 280px;
}

.section .image {
  flex: 1;
  min-width: 280px;
}

.section .image img {
  width: 100%;
  border-radius: 10px;
}

.section .text h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.section .text p {
  font-size: 16px;
  line-height: 1;
  color: gray;
}

.highlight {
  background-color: #f7f7f7;
}